################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Laboratorio 1/Laboratorio 1/.vs/Laboratorio 1
/Laboratorio 1/Laboratorio 1/.vs/ProjectEvaluation
/Laboratorio 2/.vs
/Laboratorio 3/Laboratorio 3/.vs/Laboratorio 3
/Laboratorio 1/.vs
/Laboratorio 3/.vs
/Laboratorio 4/.vs
/Laboratorio 5/.vs
/Laboratorio 6/.vs
/Laboratorio 7/.vs/Laboratorio 7
/Laboratorio 8/.vs
/Laboratorio 10/.vs
/Parcial 1/.vs
